
<!-- property binding -->
<!-- <textarea name="" id="" cols="30" rows="10" [value]='newPost'></textarea>   -->
<!-- Two way Binding  -->
<mat-card>
    <mat-form-field>
        <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput name="" id="" cols="30" rows="10" [(ngModel)]='createNew'></textarea> 
    </mat-form-field>
    <button 
    mat-raised-button 
    color="primary"
    (click)="onClick()">
        Add VM
    </button>
</mat-card>

 

<!-- eventBinding -->

<!-- stringInterpoletion -->
<!-- <p>{{ newPost }}</p> -->